<main class="main">
  <div class="content">
    <div class="left-side">
      @if (favouritePromotions.length > 0) {
      <h1>Promociones Favoritas</h1>
      @for (promotion of favouritePromotions; track promotion.id) {
      <app-promotion [promotion]="promotion"></app-promotion>
      }
      }
      @if (otherPromotions.length > 0) {
      <h1>Otras Promociones</h1>
      @for (promotion of otherPromotions; track promotion.id) {
      <app-promotion [promotion]="promotion"></app-promotion>
      }
      }
    </div>
  </div>
</main>

<router-outlet></router-outlet>