<div style="display: flex; align-items: center; gap: 10px; ">
    <h3>{{ promotion.title }}</h3>
    @if (promotion.activeDate !== null && promotion.futureDates.length >
    0) {<!-- && promotion.availableAmountToPurchase === 0 --> 
    <p>Activa hasta el {{ promotion.activeDate.to | date:'EEEE dd MMMM' }}.</p>
    <p>Próximamente el {{ promotion.futureDates[0].from | date:'fullDate' }}.</p>
    }
    @else if (promotion.activeDate !== null) {
    <p>Activa hasta el {{ promotion.activeDate.to | date:'EEEE dd MMMM' }}.</p>
    }
    @else if (promotion.futureDates.length > 0) {
    <p>Próximamente el {{ promotion.futureDates[0].from | date:'fullDate' }}.</p>
    }
</div>
<p>Descuento: <strong>{{ promotion.discount }} %</strong> - Tope: {{ promotion.limit.amount | currency }} (
    <span>Importe: {{ promotion.calculatedPurchaseAmount | currency }} </span>)
</p>
@if (promotion.payment_methods.length > 0) {
<h4>Formas de pago</h4>
<ul>
    @for (paymentMethod of promotion.payment_methods; track paymentMethod) {
    <li><span>{{ paymentMethod }} <button type="button"
                (click)="addPurchase(promotion, paymentMethod)">+</button></span>
    </li>
    }
</ul>
}

@if (promotion.activeDate !== null && promotion.activeDate.totalAmountPurchased > 0) {
<p>Total comprado: {{ promotion.activeDate.totalAmountPurchased | currency }}</p>
<p>Total reintegrado: {{ promotion.activeDate.totalAmountRefunded | currency }}</p>
<p><strong>Disponible: {{ promotion.activeDate.availableAmountToPurchase | currency }}</strong></p>
<ul>
    @for (purchase of promotion.activeDate.purchases; track purchase.id) {
    <li>{{ purchase.date }} - {{ purchase.storeName }} - {{ purchase.amount | currency }} / {{ purchase.paymentMethod }}
        <button type="button" (click)="removePurchase(purchase)">X</button>
    </li>
    }
</ul>
}
<button type="button" (click)="showPastPurchases=!showPastPurchases">{{showPastPurchases ? 'Ocultar' : 'Mostrar'}} Anteriores</button>
@if (showPastPurchases && promotion.pastDates.length > 0 && promotion.pastDates[promotion.pastDates.length -1].purchases) {
<p>Mis pagos periodo anterior ({{promotion.pastDates[promotion.pastDates.length -1].from | date: 'dd-MM'}} -
    {{promotion.pastDates[promotion.pastDates.length -1].to | date: 'dd-MM'}}):</p>
<ul>
    @for (purchase of promotion.pastDates[promotion.pastDates.length -1].purchases; track purchase.id) {
    <li>{{ purchase.date }} - {{ purchase.storeName }} - {{ purchase.amount | currency }} / {{ purchase.paymentMethod }}
        <button type="button" (click)="removePurchase(purchase)">X</button>
    </li>
    }
</ul>
}